.open_finals {
	background-color:red;
	cursor:pointer;
}
.learnPic{

	padding: 1px;
	width: 50px;
	height: 30px;
	margin: auto;
}

.myUnmPic{

	padding: 1px;
	width: 50px;
	height: 30px;
	margin: auto;

}
.finalsPic{

	padding: 1px;
	width: 50px;
	height: 30px;
	margin: auto;

}
.intro{
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.gym_status{
	padding: 3px; 
	width: 200px;
	margin: auto;
}
